$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import url("http://fonts.googleapis.com/css?family=Open Sans");

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    font-family: "Helvetica Neue", Helvetica, "Open Sans", sans-serif;
    display: compact;
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 0px;
    padding-right: 0px;
}

/* Custom page header */
.header {
    h1 {
        color: rgb(51, 51, 51);
        font-size: 54px;
        text-shadow: none;
    }

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

#victorquinn-image {
    width: 100%;
}

.main {
    padding: 0px;
}

.self-image {
    padding: 0px;
}

ul.inline {
    list-style-type: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
}

ul.inline li {
    display: inline;
    padding: 0px 0px 0px 0px;
}

ul.inline li:after {
    content: "\020 \2605";
    font-size: 12px;
    vertical-align: middle;
}

ul.inline li:last-child:after {
    content: " ";
}

ul.list li {
    list-style-type: none;
}

ul.list li:before {
    content: "\0BB \020";
}

.maincontent {
    position: relative;
}

.sectionheader {
    color: #fff;
}

#currentheader {
    background-color: #5cb85c;
}

.contactheader {
    background-color: #428bca;
}

.contentcontainer {
    padding: 15px 50px;
}

.sectionheader.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.sectionheader.absolute {
    position: absolute;
    bottom: 0;
}

.motorcycleimage {
    background-image: url("../images/VictorMotorcycle.jpg");
    height: 400px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    body {
        display: compact;
        padding-top: 0px;
    }
    .container {
        max-width: 730px;
    }
    .content {
        background-color: #fff;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 0px;
        height: 0px;
        h1 {
            font-size: 56px;
        }
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
